<nav class="nav nav-tabs justify-content-center h2">
    <a class="nav-link" href="/">Restaurants</a>
    <a class="nav-link" href="/aboutus">About Us</a>
    <a class="nav-link" href="/contactus">Contact Us</a>
    <a class="nav-link" href="/orders">List of Orders</a>
</nav>
